extends layout

html
  body
    nav
      .nav-wrapper
        form
          .input-field
            input#search(type='search', required='')
            label(for='search')
              i.material-icons search
            i.material-icons close
            

    
