extends layout

block content
    .container
        if (!user)
            a(href="/users/login") Login
            br
            a(href="users/register") Register
        if (user)
            p You are currently logged in as #{user.username}
            a(href="/logout") Logout
