doctype html
html

    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        <!-- Compiled and minified CSS -->
        link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
    body
        nav
            .nav-wrapper
                .container
                    a.brand-logo(href="#") ShopperCompanion
        main
            block content

        //  footer.page-footer
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
